# ============================================================
# .gitignore — Proyecto Mensajería Superhéroes
# ============================================================

# --- Variables sensibles ---
.env

# --- Clases compiladas ---
*.class
*.jar
*.war
*.ear
/build/
/out/
/bin/
/target/

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
*.ipr
out/

# --- Eclipse ---
.project
.classpath
.settings/

# --- VS Code ---
.vscode/

# --- NetBeans ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- Gradle ---
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# --- Maven ---
target/

# --- Sistema operativo ---
.DS_Store
Thumbs.db
desktop.ini

# --- Logs ---
*.log
